<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
    <ion-buttons slot="end">  
      <ion-button [routerLink]="['/configuracion']"> 
        <ion-icon name="build-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <ion-card max-width="250px" style="max-width: 250px;" style="margin: 26px;">
    <ion-card-content>
      <p>{{ citaAleatoria.texto }}</p>
      <p style="text-align: right;">{{ citaAleatoria.autor }}</p>
    </ion-card-content>
    <ion-button *ngIf="mostrarBotonEliminar" (click)="eliminarCita()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-card>

  <ion-button [routerLink]="['/gestion']">+</ion-button>

</ion-content>