<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
    <ion-buttons slot="end">  
      <ion-button [routerLink]="['/configuracion']" fill="clear" > 
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <div class="centered-container">
    <ion-card max-width="250px" style="max-width: 250px;" style="margin: 26px;">
      <ion-card-header>
        
      </ion-card-header>
      <ion-card-content>
        <p style="text-align: right;">Ralph Waldo Emmerson</p>  </ion-card-content>
    </ion-card>
  </div>

 
  <ion-button [routerLink]="['/gestion']">+</ion-button>
 
</ion-content>