<div>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Crea nueva cita </ion-card-title>
    </ion-card-header>

    <form #form="ngForm">
      <!--Campo para el texto de la cita-->
      <ion-item>
        <ion-input
        name="texto"
        label="Frase"
        [(ngModel)]="textoStr"
        required="required"
        minlength="5"
        #textoInput="ngModel"
        ></ion-input>
      </ion-item>
      <!-- Mensaje de error para el texto -->
      <ion-note *ngIf="textoInput.invalid && (textoInput.touched || textoInput.dirty)" color="danger">
        <span *ngIf="textoInput.errors?.['required']">La frase es obligatoria</span>
        <span *ngIf="textoInput.errors?.['minlength']">Minimo 5 caracteres</span>
      </ion-note>

      <!--Campo para el autor-->
      <ion-item>
        <ion-input 
        name="autor"
        label="Autor"
        placeholder="Mahatma Gandy"
        [(ngModel)]="autorStr"
        required="required"
        minlength="2"
        #autorInput="ngModel"
        ></ion-input>
      </ion-item>
      <!-- Mensaje de error en el autor -->
      <ion-note *ngIf="autorInput.invalid && (autorInput.touched || autorInput.dirty)" color="danger">
        <span *ngIf="autorInput.errors?.['required']">El autor es obligatorio.</span>
        <span *ngIf="autorInput.errors?.['minlength']">Mínimo 2 caracteres.</span>
      </ion-note>

      <!-- Botón de submit (deshabilitado si el formulario es inválido) -->
       <ion-button 
       type="button" 
       fill="clear" 
       (click)="onClick()" 
       [disabled]="form.invalid">
       Agregar +
      </ion-button>

    </form>
  </ion-card>   
</div>